# Build directories
build/
build-*/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
CTestTestfile.cmake
Testing/

# Ninja
.ninja_deps
.ninja_log
build.ninja

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Vim
*.swp

# Executables
*.exe
*.out
data/
evidence/
output/pdf/*.pdf
*.itch
*.pcap
*.ticks

# Coverage
*.gcda
*.gcno
*.gcov
